<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fjord+One&family=Glegoo:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <div id="navbar">

    <div id="nom">
    Grégoire POTAUX
    </div>

    <i class="fa-brands fa-github fa-envelope fa-2xl" id="img_gh"></i>

    <ul id="sommaire">
      <li class="element_navbar"> Présentation</li>
      <li class="element_navbar"> Mes projets</li>
      <li class="element_navbar"> Mes qualités d'apprentis</li>
      <li class="element_navbar"> Mon CV</li>
    </ul>
  </div>

  <div id="présentation"></div>

    <div class="titres">
    Je me présente, je m'appelle Grégoire
    </div>

    <div class="texte">
    Developpeur full stack junior en recherche d’une alternance,
    je suis récemment certifié par le Wagon Lille. <br>
    Je cherche une entreprise avec qui établir une relation de confiance afin
    d’y réaliser mon alternance et si possible bien plus.
    </div>

    <%= image_tag "moi.JPG", id: "image_moi" %>

  </div>

  <div id="projets">

    <div class="titres">
    Mes projets
    </div>

    <div id="paws">
    <%= image_tag "paws_login.png", class: "img_projet" %>
    </div>

    <div id="airspas">
    <%= image_tag "airspas_home.png", class: "img_projet" %>
    </div>
  </div>


  <div id="qualite_apprenti">

    <div class="titres">
    Mes qualités d'apprentis
    </div>

    <div id="blocs">
      <div class="bloc">

      <p class="bloc-titre"> Motivation </p>

      <p class="bloc-text"> Je suis en reconversion professionelle, j'ai pris un risque afin de suivre
      une voie passionante. Je fais donc en sorte de ne pas regretter
      ce choix en m’investissant un maximum. </p>

      </div>

      <div class="bloc">

      <p class="bloc-titre"> Curiosité </p>

      <p class="bloc-text"> L'apprentissage se fait avant tout en se questionnant soi et
      les autres, en s'intéressant à diverses technos et méthodes de travail.
      Je vous poserais donc des questions, beaucoup de questions! </p>

      </div>

      <div class="bloc">

      <p class="bloc-titre"> Précision </p>

      <p class="bloc-text"> Ne pas faire le travail mais bien le faire.
      Voici ma ligne directrice pour mon apprentissage (qui sera constant!)
    </p>

      </div>

      </div>

  </div>

  <div id="cv">

    <div class="titres">
    Mon CV
    </div>

  </div>

  <div id="footer">
  <i class="fa-solid fa-envelope fa-2xl" style="color: #4169e1;" id="logo_env"></i>
  <div id="contact">Mes contacts</div>
  <i class="fa-brands fa-linkedin fa-2xl" style="color: #4169e1;" id="logo_lk"></i>
  </div>

</body>
