<div id="navbar">

  <div id="nom">
  Grégoire POTAUX
  </div>

  <i class="fa-brands fa-github" id="img_gh"></i>

  <ul id="sommaire">
    <li class="element_banner"> Présentation</li>
    <li class="element_banner"> Mes projets</li>
    <li class="element_banner"> Mes qualités d'apprentis</li>
    <li class="element_banner"> Mon CV</li>
  </ul>
</div>
