<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fjord+One&family=Glegoo:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <div id="navbar">

    <div id="nom">
    Grégoire POTAUX
    </div>

    <i class="fa-brands fa-github fa-envelope fa-2xl" id="img_gh"></i>

    <ul id="sommaire">
      <li class="element_navbar"> Présentation</li>
      <li class="element_navbar"> Mes projets</li>
      <li class="element_navbar"> Mes qualités d'apprentis</li>
      <li class="element_navbar"> Mon CV</li>
    </ul>
  </div>

  <div id="présentation"></div>

    <div class="titres">
    Je me présente, je m'appelle Grégoire
    </div>

    <div class="texte">
    Developpeur full stack junior en recherche d’une alternance,
    je suis récemment certifié par le Wagon Lille. <br>
    Je cherche une entreprise avec qui établir une relation de confiance afin
    d’y réaliser mon alternance et si possible bien plus.
    </div>

    <%= image_tag "moi.JPG", id: "image_moi" %>

  </div>

  <div id="projets">

    <div class="titres">
    Mes projets
    </div>

    <div id="paws">
    <%= image_tag "paws_login.png", class: "img_projet" %>
    </div>

    <div id="airspas">
    <%= image_tag "airspas_home.png", class: "img_projet" %>
    </div>
  </div>


  <div id="qualite_apprenti">

    <div class="titres">
    Mes qualités d'apprentis
    </div>

    <div id="blocs">
      <div class="bloc">

      <p class="bloc-titre"> Motivation </p>

      <p class="bloc-text"> Je suis en reconversion professionelle, j'ai pris un risque afin de suivre
      une voie passionante. Je fais donc en sorte de ne pas regretter
      ce choix en m’investissant un maximum. </p>

      </div>

      <div class="bloc">

      <p class="bloc-titre"> Curiosité </p>

      <p class="bloc-text"> L'apprentissage se fait avant tout en se questionnant soi et
      les autres, en s'intéressant à diverses technos et méthodes de travail.
      Je vous poserais donc des questions, beaucoup de questions! </p>

      </div>

      <div class="bloc">

      <p class="bloc-titre"> Précision </p>

      <p class="bloc-text"> Ne pas faire le travail mais bien le faire.
      Voici ma ligne directrice pour mon apprentissage (qui sera constant!)
    </p>

      </div>

      </div>

  </div>

  <div id="cv">

    <div class="titres">
    Mon CV
    </div>


    <ul class="timeline">

      <li>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="flag">BTS GPME/Stage</span>
            <span class="time-wrapper"><span class="time">2019/2020</span></span>
          </div>
          <div class="desc">
            Obtenu au  lycée La Sagesse de Valenciennes, enseignement polyvalent sur la gestion d'entreprise (Management, RH, Communication etc..) et 10 semaines de stages à Bilsing Automation France avec un projet de gestion des risques réalisé. En Août, contrat d'un mois en tant qu'assistant commercial et achats.
          </div>
        </div>
      </li>


      <li>
        <div class="direction-l">
          <div class="flag-wrapper">
            <span class="flag">Licence professionelle CAI</span>
            <span class="time-wrapper"><span class="time">2020/2021</span></span>
          </div>
          <div class="desc">
      Licence professionelle Collaborateur des Activités Internationales obtenue à l'Université Polytechnique Hauts-de-France. Enseignement polyvalent en gestion d'entreprise avec une dimension internationale (managmeent internationale, droit européen, logistique etc.). Réalisation d'un mémoire portant sur les stratégies de développement à l'international. Cette annnée, j'ai passé le TOEIC abev un score de 840, certifiant un niveau B2. J'ai également pratiqué l'espagnol et j'ai acquis un niveau intermédiaire dans cette langue.
          </div>
        </div>
      </li>


      <li>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="flag">Consultant Support</span>
            <span class="time-wrapper"><span class="time">2021/2022</span></span>
          </div>
          <div class="desc">
            En CDI dans l'entreprise Absys Cyborg; j'ai réalisé la maintenance informatique à distance auprès de client professionnels sur divers logiciels de gestion (j'étais spécialisé en gestion commerciale : travail sur Sage, EBP, TAI principalement).
    J'ai assuré la résolution de problèmes techniques, une réponse efficace à des demandes spécifiques ainsi qu'une bonne communication en interne et externe.

          </div>
        </div>
      </li>

      <li>
        <div class="direction-l">
          <div class="flag-wrapper">
            <span class="flag">Reconversion dans le développement web</span>
            <span class="time-wrapper"><span class="time">2022 - Aujourd'hui</span></span>
          </div>
          <div class="desc">
          Avec le Wagon Lille, j'ai entamé ma reconversion dans le développement web. J'ai étudié divers technologies (Ruby/Rails, HTML/CSS/Javascript etc..) et souhaite continuer dans ce domaine via une alternance. J'ai pu valider cette formation par l'obtention  la certification Développeur web fullstack. Je suis ouvert à tout nouveau langage, aussi bien en frontend que backend.
          </div>
        </div>
      </li>

</ul>


  </div>

  <div id="footer">
  <i class="fa-solid fa-envelope fa-2xl" style="color: #4169e1;" id="logo_env"></i>
  <div id="contact">Mes contacts</div>
  <i class="fa-brands fa-linkedin fa-2xl" style="color: #4169e1;" id="logo_lk"></i>
  </div>

</body>
