#img_gh{
  position: absolute;
  left: 10%;
  top: 44%;
}

#image_moi{
  display: block;
  width : 13%;
  position: absolute;
  left: 77%;
  border-radius: 80px;
  top : 15%
}

.img_projet{
  position: sticky;
}

#logo_lk{
  position: relative;
  margin: 2.5%;
}

#logo_env{
  position: relative;
  margin: 2.5%;
}
